@import "compass";

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#players-count {
  float: left;
  padding-right: 8px;
}

#players-list {
  @include border-radius(3px);
  @include box-shadow(black 1px 1px 5px);
}

.player-row {
  padding: 2px 8px;
  border-top: solid 1px #ccc;
}
